body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color:#666670 ;
    font-size: 19px;
}
.topo{
    width: auto;
    height: 30px;
    background-color: #f80032;
    padding: 29px;
    
}

.nome{
    color: white;
    font-size: 25px;
    margin-left: 70px;
   
    
}
.line_up{
    width: 140px;
    height: 4px;
    background-color: white;
    margin-left: 70px;
    margin-bottom: -7px;
    
    
}

.line_down{
    width: 140px;
    height: 4px;
    background-color: white;
    margin-left: 70px;
    margin-top: -4px;
}


.cabecalho{
    text-align: center;
    margin-top: 65px;
    color: #777777;
    font-size: 18px;
}
.titulo{
    font-size: 37px;
    color: #666670;
    
}

sup{
    color: #f80032;
}
.obr{
    margin-top: 15px;
    font-size: 12px;
    color: #000;
}

label{
    font-size: 18px;
    margin-left: 470px;
    color: #777777;
   
}

.nmail{
    width: 400px;
    height: 45px;
    margin-left: 470px;
    border-radius: 10px;
    border: 1px solid #666670 ;
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 18px;
}


.sub{
    font-size: 15px;
    color: #9a9aa0;
    margin-left: 465px;
}
.rd0{
    margin-left:465px ;
}
.rd1, .rd2{
margin-left: 50px;
}

.rd0, .rd1, .rd2{
    width: 25px;
    height: 25px;
    
}
.fm{
    font-size: 17px;
    color: #666670;
}
.data{
    width: 110px;
    height: 45px;
    margin-left: 470px;
    border-radius: 10px;
    border: 1px solid #666670 ;
    margin-top: 10px;
    margin-bottom: 35px;
   font-size: 20px;
}

.cpf, .tel{
    width: 160px;
    height: 45px;
    margin-left:470px ;
    border-radius: 10px;
    border: 1px solid #666670 ;

}

.emp{
    margin-left: 470px;
    color: #777777;
}
.whats{
    margin-left: 470px;
    
}

.pass{
    margin-left:470px ;
    width: 250px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #666670 ;
    
}
.compartilhar{
    margin-left: 470px;
  

}
a{
    color: #777777;
}

.botao{
    width: 230px;
    height: 52px;
    background-color: #f80032;
    border-radius: 5px;
   margin-left: 550px;
   font-size: 16px;
   color: white;
   border: none;
   font-weight: bold;
}

.privacy{
    margin-left: 470px;
}

.entrar{
    text-align: center;
}
